Package: com.ruslan.reachabilityToggles
Name: reachabilityToggles
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ruslan Ardashev
Author: Ruslan Ardashev
Section: Tweaks
Version: 0.0.1-28
Installed-Size: 408
